@import "tailwindcss";
@import "tw-animate-css";
@import "../../../packages/ui/src/styles/globals.css";
@plugin "@tailwindcss/typography";

@source "../../../packages/ui/src";

.prose ul > li::marker,
.prose ol > li::marker {
    color: var(--color-primary);
}

.scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
