DATABASE_URL=mysql://gpamn:gpamn_dev@localhost:6200/gpamn
NEXT_PUBLIC_SITE_URL=http://localhost:6100
SMTP_HOST=localhost
SMTP_PORT=6025
S3_REGION=us-west-2
S3_BUCKET_NAME=
S3_MEDIA_PREFIX=media
S3_PUBLIC_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
